/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Body  */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* Main  */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.logo img{
    width: 100%;
}
.styleName{
    color:#FF42A5;
}
.manu-list{
    display: flex;
    flex-direction: row;
}
.manu-list li{
    list-style: none;
}
.manu-list li a{
    padding: 10px;
    text-decoration: none;
}
.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.folowBtn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}